*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    overflow-x: hidden;
}

.fondo{
    background-image: url('../recursos/fondo.jpg');
    background-size: cover; 
    background-attachment: fixed;
    margin: 0;
    min-height: 100vh;
    padding: 20px;
}
h1, h2, h3, p, li, a {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cuadrado1{
    width: 96vw;
    height: 89px;
    border: 4px black;
    background-color: #000000;
    display: flex;
    justify-content: center; 
    align-items: center;     
    color: white;         
    font-family: sans-serif;
    opacity: 80%;
    flex-direction: row;
    gap: 30px;       
    text-decoration: none;
    .escudo{
        position: absolute;
         top: 20px;
         left: 40px;
    }      
}

.cuadrado1 a:hover {
    color: #ffed00;          
}

.imagenlewan{
    display: flex;
    justify-content: flex-start;
    z-index: 1;       
    flex-direction: row;    
    align-items: center;    
    gap: 40px;              
    margin: 50px auto;      
    max-width: 1200px;      
    padding: 0 20px;
 }
 .texto-bienvenida {   
    color: white;           
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 30px;
    border-left: 5px solid #a50044; 
}

.texto-bienvenida h2 {
    font-size: 2.5rem;
    margin-top: 0;
    color: #ffed00;         
}

.texto-bienvenida p {
    font-size: 1.2rem;
    line-height: 1.6;       
}
.Barcelona{
    font-size: 30px;
}
.estadio{
    position: relative;
    width: fit-content;
    border: 8px solid #000000;
    overflow: hidden;
    display: inline-block;

}
.estadio img {
    display: block;
    width: 100%; 
    transition: all 0.5s ease;
}
.estadio:hover img{
    scale: 1.05;
    filter: brightness(40%);
}
.titulo-estadio {
    position: absolute; 
    top: 50%;          
    left: 50%;         
    transform: translate(-50%, -50%);        
    transition: all 0.5s ease;
    opacity: 0;
    color: white;
    text-align: center;
    width: 100%;
}
.estadio:hover .titulo-estadio {
    opacity: 1;         
}

.destacados{
    display: flex;
    justify-content:  center; 
    align-items: center; 
    gap: 20px;
    padding: 40px;
    flex-wrap: wrap;
}
.jugadoresdes{
        position: relative;
    width: 300px; 
    height: 450px;
    border: 8px solid #000000; 
    overflow: hidden; 
    transition: all transform 2s ease;

    }
    .jugadoresdes:hover img {
    filter: brightness(40%);
    scale: 1.1;
}
    .info-jugador {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.5s ease;
    color: #ffed00; 
    text-align: center;
    width: 100%;
    z-index: 2;
    pointer-events: none;
}
.jugadoresdes:hover .info-jugador {
    opacity: 1;
     }
.cuadradof {
    width: 100vw;
    height: 500px; 
    background-color: #000000;
    border-top: 4px solid #a50044; 
    
    display: flex;
    justify-content: center; 
    align-items: center;     
    opacity: 0.8;            
    flex-direction: row;
    gap: 50px;               
    padding: 20px;
    box-sizing: border-box;  
}
.imagen-historia{
    text-align: center;
    margin-top: 30px;
}
.imagen-historia img{
    width: 600px;
    max-width: 90%;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}
.imagen-historia:hover{
    transform: scale(1.02);
    transition: 0.3s;
}
.escudo img{
    width: 80px;
    filter: drop-shadow(0px, 5px, 10px black);

}

h1{
    margin-left: 120px;
    text-align: center;
}
.caja{
    background: rgba(0,0,0,0.5);
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 15px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.6);
}
.caja:hover{
    transform: scale(1.02);
    transition: 0.3s;
}
.check-comprar {
    display: none;
}

.btn-tienda {
    display: inline-block;
    padding: 10px 25px;
    background-color: #a50044; 
    color: white;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.4s ease;
}


.btn-tienda:hover {
    background-color: #7d0034;
}

.check-comprar:checked + .btn-tienda {
    background-color: #28a745; 
}
.latienda{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.producto{
    position: relative;
    border: 3px solid #000000;
    overflow: hidden; 
    justify-content: center;
    text-align: center;
    padding: 15px;
    background-color: #fff;
    transition:  all transform 0.3s;
    h3, p{
        color: #000000;
    }
}
.producto img {
    width: 100%;          
    height: 200px;        
    object-fit: contain;  
    margin-bottom: 5px;
}
.producto:hover{
    transform: scale(1.02);
    transition: 0.3s;
}
.bannercat{
    width: 100%;       
    overflow: hidden;  
    line-height: 0;
    display: block;
}
.titulocat{
    font-size: 27px;
    text-decoration: dotted;
    box-shadow: #000000;
    h1{
        color: #f1bd00;
    }

}
.textoexplicativo{
    font-size: 19px;
    text-align: justify;
    padding: 0 10%;
    p {color: #f1bd00;
}
 }
.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    padding: 20px;
}
.fotos{
    overflow: hidden;
    border: 5px solid #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    height: 250px;
}
.fotos img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: transform 0.5s ease;
}
.fotos:hover img {
    transform: scale(1.2) rotate(2deg); 
    filter: brightness(1.1); 
}
.titulo_galeria{
    text-align: center;
}

/* ---------------- PALMARES ---------------- */

h1{
    text-align:center;
    font-size:40px;
    margin-top:20px;
    text-shadow:2px 2px 10px black;
}
.titulo-seccion{
    text-align:center;
    font-size:28px;
    margin-top:40px;
    margin-bottom:20px;
}
.tabla-palmares table{
    width:70%;
    margin:20px auto;
    border-collapse:collapse;
    font-size:18px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}
.tabla-palmares th{
    background:#a50044;
    color:white;
    padding:12px;
    border:1px solid #ddd;
}
.tabla-palmares td{
    background:rgba(255,255,255,0.9);
    color:black;
    padding:12px;
    text-align:center;
    border:1px solid #ddd;
}
.tabla-palmares tr:hover{
    background:#d6d6d6;
    transition:0.3s;
}
.imagen-palmares{
    text-align: center;
    margin: 30px;
}
tr:hover{
    background-color:#d6d6d6;
    transition:0.3s;
}
.titulo-seccion{
    text-align: center;
    margin-top: 30px;
    font-size: 28px;
}
h1{
    text-align:center;
    font-size:40px;
    text-shadow:2px 2px 10px black;
}
.tabla-palmares{
    margin-bottom:40px;
}
.tabla-palmares{
    animation: aparecer 1s ease;
}
@keyframes aparecer{
    from{
        opacity:0;
        transform:translateY(20px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}
/* ---------------- JUGADORES ---------------- */

.contenedor-jugadores{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(220px, 1fr));
    gap:30px;
    padding:30px;
    margin-top:30px;
}

h1{
    text-align:center;
    margin-top:30px;
    margin-bottom:40px;
}
.tarjeta{
    background:white;
    border-radius:15px;
    text-align:center;
    padding:20px;
    transition:0.3s;
}
.tarjeta:hover{
    border:3px solid transparent;
    background:
    linear-gradient(white,white) padding-box,
    linear-gradient(45deg,#a50044,#004d98) border-box;
}
.tarjeta img{
    width:100%;
    height:180px;
    object-fit:cover;
    border-radius:10px;
    transition:transform 0.4s;
}
.tarjeta:hover img{
    transform:scale(1.1);
}
.tarjeta h3{
    color: #111;
    font-weight: bold;
}
.tarjeta p{
    color: #333
}